
.card {
    position: relative;
    display: inline-block;
    background: transparent;
    color: #000;
}

.card .face {
    border: 4px solid #555555;
    color: white;
    border-radius: 7px;
}

.card .front {
    background: white;
    backface-visibility: visible;
}
